.Playlist {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 40%;
  height: 950px;
  border-radius: 20px;
  padding: 2rem;
  background-color: #1db954;
  overflow-y: scroll;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.4);
}

.Playlist input {
  width: 100%;
  height: 3rem;
  border: 0;
  border-bottom: 1px solid #fff;
  outline: 0;
  padding: 0 0 1rem 0;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #fff;
  background: transparent;
}

.Playlist-save {
  width: 50%;
  margin-top: 2rem;
  border: 0px;
  border-radius: 50px;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #1db954;
  cursor: pointer;
  background-color: #fff;
  transition: all .3s;
}

.Playlist-save:hover {
  color: #fff;
  background-color: #321184;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}